
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');


.ballet {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style:  bold;
}

body {
  margin: 0;
  display: flex;
  margin-top: 10px;
  background: linear-gradient(
    155deg,
    #000000,
    #111827,
    #374151
  );
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}



